- content_for :left_panel do
  #criteria
    %table
      %tbody
        %tr
          %td#dropdowns
            - country_options = options_for_select([ ['Canada'], ['USA'] ])
            - degree_options = options_for_select([ ['Arts'], ['Computer Science'] ])
            - term_options = options_for_select([ ['Winter 2013'], ['Spring 2013'], ['Fall 2013'] ])
            #term= select_tag :term, term_options
            #degree= # select_tag :degree, degree_options, :prompt => 'Any Degree'
            #country= select_tag :country_options, country_options, :prompt => 'Any Country'
        %tr
          %td#level
            .set
              = check_box :level, 'junior', :checked => 'checked' 
              %h4= 'Junior'
            .set
              = check_box :level, 'junior', :checked => 'checked' 
              %h4= 'Intermediate'
            .set
              = check_box :level, 'intermediate', :checked => 'checked'
              %h4= 'Senior'

  #results
    %table.table.table-hover
      %thead
        %tr
          %th#title= link_to 'Title', ''
          %th#company= link_to 'Company', ''
          %th#location= link_to 'Location', ''
          %th#deadline= link_to 'Deadline', ''
      %tbody
      - @jobs.each do |job|
        %tr
          %td.desc= link_to job.title, ''
          - # %span.badge.badge-info= 'Javascript'
          - # %span.badge.badge-info= 'MongoDB'
          - # %span.badge.badge-info= 'Rails'
          %td= link_to job.company.name
          %td= "#{ job.city }, #{ job.province }, #{ job.country }"
          - deadline = job.deadline
          %td= deadline.is_a?(String) ? job.deadline : job.deadline.strftime("%b %-d, %Y")

- content_for :right_panel do
  #iframe-wrapper
    %iframe{ :src => 'http://ch.tbe.taleo.net/CH03/ats/careers/requisition.jsp?org=ALTERA&cws=1&rid=2997' }