.container
  %h3
    %ul.nav.nav-tabs
      %li#jobs= link_to 'Jobs', jobs_path, { :method => :get, :remote => true }
      %li= link_to 'Students', '/students', { :remote => true }
      %li#features= link_to 'Features', '#students'
    %li#create_listing= link_to 'Create a Listing', jobs_path, { :method => :post, :remote => true, :rel => "address:/jobs" }
  %br

  = render :partial => 'jobs/index'

- content_for :javascripts do
  :javascript
    $(function() {
      var History = window.History;

      History.Adapter.bind(window,'statechange',function(){
          var State = History.getState();
          History.log(State.data, State.title, State.url);
      });

      History.pushState({state:1}, "State 1", "?state=1");
    });

    (function(window,undefined){

      // Prepare
      var History = window.History; // Note: We are using a capital H instead of a lower h
      if ( !History.enabled ) {
           // History.js is disabled for this browser.
           // This is because we can optionally choose to support HTML4 browsers or not.
          return false;
      }

      // Bind to StateChange Event
      History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
          var State = History.getState(); // Note: We are using History.getState() instead of event.state
          History.log(State.data, State.title, State.url);
      });

      // Change our States
      History.pushState({state:1}, "State 1", "?state=1"); // logs {state:1}, "State 1", "?state=1"
      History.pushState({state:2}, "State 2", "?state=2"); // logs {state:2}, "State 2", "?state=2"
      History.replaceState({state:3}, "State 3", "?state=3"); // logs {state:3}, "State 3", "?state=3"
      History.pushState(null, null, "?state=4"); // logs {}, '', "?state=4"
      History.back(); // logs {state:3}, "State 3", "?state=3"
      History.back(); // logs {state:1}, "State 1", "?state=1"
      History.back(); // logs {}, "Home Page", "?"
      History.go(2); // logs {state:3}, "State 3", "?state=3"

    })(window);