#criteria
  %h3= 'Criteria'

  %table
    %tbody
      %td#dropdowns
        - country_options = options_for_select([ ['Canada'], ['USA'] ])
        - degree_options = options_for_select([ ['Arts'], ['Computer Science'] ])
        - term_options = options_for_select([ ['Winter 2013'], ['Spring 2013'], ['Fall 2013'] ])
        #term= select_tag :term, term_options
        #degree= select_tag :degree, degree_options, :prompt => 'Any Degree'
        #country= select_tag :country_options, country_options, :prompt => 'Any Country'
      %td#level
        .set
          = check_box :level, 'junior', :checked => 'checked' 
          %h4= 'Junior'
        .set
          = check_box :level, 'junior', :checked => 'checked' 
          %h4= 'Intermediate'
        .set
          = check_box :level, 'intermediate', :checked => 'checked'
          %h4= 'Senior'

#results
  %h3= 'Results'

  %table.table.table-hover
    %thead
      %tr
        %th.desc= link_to 'Title', ''
        %th= link_to 'Company', ''
        %th= link_to 'Location', ''
        %th= link_to 'Deadline', ''
    %tbody
    - @jobs.each do |job|
      %tr
        %td.desc
          %h4= link_to job.title, ''
          - # %span.badge.badge-info= 'Javascript'
          - # %span.badge.badge-info= 'MongoDB'
          - # %span.badge.badge-info= 'Rails'
        %td= link_to job.company.name
        %td= "#{ job.country }, #{ job.city }, #{ job.province }"
        %td= job.deadline.strftime("%b %-d, %Y")