#newsletter
  #title= 'AceInterns'
  #heading= 'Get a Biweekly Newsletter of Awesome Internships'

  %table.table.table-hover
    %thead
      %tr
        %th#hacker Hacker
        %th#hustler Hustler
        %th#designer Designer
    %tbody
      - # code smell, move logic to controller
      - (0..12).each do |i|
        - hacker = @hackers[i]
        - hustler = @hustlers[i]

        - hacker = @hackers[i]
        - if hacker.present?
          - hacker_title = "#{ hacker.title } (#{ hacker.city }, #{ hacker.state })"
          - hacker_title.prepend "#{ hacker.company_name } - " if hacker && hacker.company_name.present?

        - hustler = @hustlers[i]
          - if hustler.present?
          - hustler_title = "#{ hustler.title } (#{ hustler.city }, #{ hustler.state })"
          - hustler_title.prepend "#{ hustler.company_name } - " if hustler && hustler.company_name.present?

        - designer = @designers[i]
        - if designer.present?
          - designer_title = "#{ designer.title } (#{ designer.city }, #{ designer.state })"
          - designer_title.prepend "#{ designer.company_name } - " if designer && designer.company_name.present?
        
        %tr
          %td
            = link_to hacker_title, hacker.apply_link if hacker.present?
          %td
            = link_to hustler_title, hustler.apply_link if hustler.present?
          %td
            = link_to designer_title, designer.apply_link if designer.present?

  = form_for @newsletter_subscriber do |form|
    %table.table#level_wrapper
      %thead
        %tr
          %th#hacker 
            %h2= 'Level'
      %tbody
        %tr
          %td
            = form.label "Junior        "
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Intermediate'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Senior'
            = form.check_box :jobs_interested_in

    %table.table#category_wrapper
      %thead
        %tr
          %th#hustler 
            %h2= 'Category'
      %tbody
        %tr
          %td
            = form.label 'Hacker'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Hustler'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Designer'
            = form.check_box :jobs_interested_in

    %table.table#location_wrapper
      %thead
        %tr
          %th#hacker 
            %h2= 'Location'
      %tbody
        %tr
          %td
            = form.label "Canada"
            = form.check_box :jobs_interested_in
          %td
            = form.label :jobs_interested_in, "USA"
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Toronto'
            = form.check_box :jobs_interested_in
          %td
            = form.label 'California'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label :jobs_interested_in, 'Kitchener/Cambridge/Waterloo'
            = form.check_box :jobs_interested_in
          %td
            = form.label :jobs_interested_in, 'New York'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Vancouver'
            = form.check_box :jobs_interested_in
          %td
            = form.label 'Florida'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label 'Ottawa'
            = form.check_box :jobs_interested_in
          %td
            = form.label 'Washington'
            = form.check_box :jobs_interested_in
        %tr
          %td
            = form.label :jobs_interested_in, 'Montreal'
            = form.check_box :jobs_interested_in
          %td
            = form.label 'Boston'
            = form.check_box :jobs_interested_in

    .location
    %br
    .row= form.email_field :email, :placeholder => 'Email'
    .row= form.submit 'Subscribe'
