!!!
%html
  %head
    %title AceInterns
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #left-panel.container.pull-left
      = render :partial => 'layouts/left_nav'
      = yield :left_panel
    #right-panel.container.pull-right.fixed
      = render :partial => 'layouts/right_nav'
      = yield :right_panel
  = yield :javascript